.hero {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
  width: 100%;
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img {
  height: 40px;
  width: 60px;
}


.nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  font-family: 'ABeeZee', sans-serif;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

.hamburger{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  display: none;
}

.cross{
  display: none;
  color: black;
}

.main {
  text-align: center;
  padding: 20px 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.name {
  margin-bottom: 20px;
  width: fit-content;
  padding: 0 20px;
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

.name .line1 {
  font-size: 6rem;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(to bottom, #4D00FF, #7302EC, #8304D9, #9A0BE1, #5607F5);
  padding: 20px 20px;
  border-radius: 10px;
  letter-spacing: 15px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.name .line2 {
  font-size: 6rem;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #4D00FF, #7302EC, #8304D9, #D50BE1, #F5078E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name h1 {
  font-size: 4rem;
  color: #ff00ff;
  font-family: 'Press Start 2P', cursive;
}

.name .line3 {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: 'Signika Negative', sans-serif;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.countdown div {
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Signika Negative', sans-serif;
}

.countdown div span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Signika Negative', sans-serif;
}

.apply-button {
  display: flex;
  margin-top: 20px;
  padding: 15px 30px;
  background: #4F4CFC;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 18px;
  transition: background 0.3s;
  align-items: center;
  gap: 10px;
}

.disabled {
  background: #ccc;
  color:rgba(0, 0, 0, 0.8);
}

.apply-button img {
  height: 30px;
  width: 30px;
}

.apply-button:not(.disabled):hover {
  background: #3700b3;
}

.ellipse {
  margin-top: 50px;
  width: 90%;
  height: 50px;
  border-radius: 70% 50px 20px 30px;
  background-color: black;
  box-shadow: 0px 0px 51px 0px #9F6BFF;
}

.astronaut {
  position: absolute;
  width: 100px;
  animation: float 4s infinite ease-in-out;
}

.astronaut-left {
  top: 10vh;
  left: 0;
}

.astronaut-right {
  top: 60vh;
  right: 0;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes shoot {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
    opacity: 0;
  }
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1200px) {
  .name .line1, .name .line2 {
    font-size: 4rem;
  }

  .name h1 {
    font-size: 3rem;
  }

  .countdown div {
    width: 80px;
  }

  .countdown div span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  /* .header {
    flex-direction: column;
  } */
   .hero{
    height: 100vh;
   }

  .main{
    height: fit-content;
    justify-content: center;
    height: 100%;
    margin-top: 20%;
  }

  .cross.active{
    display: block;
    color: #fff;
  }

  .nav {
    position: fixed;
    right: -100%; /* Start hidden off-screen */
    height: 100vh;
    width: 300px; /* Adjust width as needed */
    background-color: black;
    display:block;
    top: 0;
    padding: 20px;
    transition: right 0.3s ease; /* Smooth sliding effect */
    z-index: 1000;
  }
  
  .nav a{
    margin: 20px 10px;
    display: block;
    text-align: center;
    font-size: 2rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  .nav.active {
    right: 0; /* Slide in from the right */
  }


  .name .line1, .name .line2 {
    font-size: 3rem;
  }

  .name .line3{
    font-size: 1rem;
  }

  .name h1 {
    font-size: 2.5rem;
  }

  .countdown div {
    width: 60px;
  }

  .countdown div span {
    font-size: 1.2rem;
  }

  .apply-button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .apply-button img {
    height: 20px;
    width: 20px;
  }

  .astronaut-right{
    top: 60vh;
  }
}

@media screen and (max-width: 480px) {
  .main{
    width: 60%;
  }

  .name .line1, .name .line2 {
    text-align: center;
    font-size: 2rem;
  }

  .name .line1{
    padding: 10px;
  }

  .name .line3{
    font-size: 0.75rem;
  }

  .name h1 {
    font-size: 1.5rem;
  }

  .countdown div {
    width: 50px;
    font-size: 0.75rem;
    padding: 10px 5px;
  }

  .countdown div span {
    font-size: 1rem;
  }

  .apply-button {
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .apply-button img {
    height: 15px;
    width: 15px;
  }

  .ellipse{
    width: 80vw;
  }
}