.prizes {
    margin-bottom: 20px;
    height: fit-content;
}

.prizes h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 10px;
    background: linear-gradient(to bottom, #4D00FF, #7302EC, #8304D9, #9A0BE1, #5607F5);
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
}

.prizes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
    gap: 2rem;
    margin-top: 4rem;
    width: 80%;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card {
    background: white;
    color: black;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    padding: 1.5rem 0rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s ease;
}

.card * {
    font-family: 'Signika Negative', sans-serif;
}

.card.gold {
    border: 5px solid gold;
    height: 250px;
    padding-bottom: 10px;
    background: url("../../assets/silver_bg.svg") no-repeat center center;
    background-color: #fff;
}

.card.gold .prize-amount{
    background-color: gold;
}

.card.bronze .prize-amount{
    background-color: #cd7f32;
}

.card.track {
    background: #fff;
    color: white;
    border: 3px solid #fff;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 10px;
}

.card.track .title{
    color: black;
}

.card.track .prize-amount{
    color: black;
}

.card.silver {
    border: 5px solid silver;
    height: 350px;
    background: url("../../assets/silver_bg.svg") no-repeat center center;
    background-color: #fff;
    transform: perspective(600px) rotateY(-15deg);
}

.card.silver .prize-amount{
    background-color: silver;
}

.card.bronze {
    border: 5px solid #cd7f32;
    height: 350px;
    background: url("../../assets/bronze_bg.svg") no-repeat center center;
    background-color: #fff;
    transform: perspective(600px) rotateY(15deg);
}

.phones{
    display: none;
}

.medal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.prize-amount {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.badge {
    background: black;
    color: white;
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .prizes-container {
        flex-direction: column;
        align-items: center;
    }

    .center-column {
        order: 1;
    }

    .card.silver {
        order: 2;
    }

    .card.bronze {
        order: 3;
    }

    .card.track{
        display: none;
    }

    .phones{
        order: 4;
        width: fit-content !important;
        padding: 10px 1rem;
        display: block;
    }

    .card.bronze{
        transform: none;
        height: 200px;
        padding-bottom: 10px;
    }

    .card.silver{
        transform: none;
        height: 200px;
        padding-bottom: 10px;
    }
}
